---
import Layout from "../layouts/Layout.astro";
import Card from "@components/Card.astro";
---

<Layout title="Niuko Consultores">
	<div class="container">
    <Card title="Primario" var="--color-primary" />
    <Card title="Secundario" var="--color-secondary" />
    <Card title="Terciario" var="--color-tertiary" />
    <Card title="Texto" var="--color-text" />
    <Card title="Hover" var="--color-hover" />
    <Card title="Fondo" var="--color-background" />
    <Card title="Fondo 2" var="--color-background-secondary" />
  </div>
</Layout>

<style>
  .container {
		padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
  }
</style>
