---
interface Props {
  title: string;
  var: string;
}

const { title, var: backgroundColor } = Astro.props;
---

<div class="card" style={`background-color: var(${backgroundColor});`}>
  <h1>{title}</h1>
  <div class="body">
  </div>
</div>

<style>
  .card {
    width: 100px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  h1 {
    font-size: 16px;
    margin: 0;
    color: white;
    background: black;
    height: 20px;
    width: 100%;
  }

  body {
    height: 100%;
    width: 100%;
  }
</style>
