---
import Facebook from "@icons/Facebook.astro"
import X from "@icons/X.astro"
import Instagram from "@icons/Instagram.astro"
import Linkedin from "@icons/Linkedin.astro"
import Spotify from "@icons/Spotify.astro"
---

<footer>
  <div class="container">
    <Facebook />
    <Instagram />
    <Linkedin />
    <Spotify />
    <X />
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-background-secondary);
    color: var(--color-text);
  }
</style>
