---
import { Image } from "astro:assets";
import Logo from "@public/nk.png";
import Phone from "@icons/Phone.astro";
import Glob from "@icons/Glob.astro";
import Menu from "@icons/Menu.astro";
import Arrow from "@icons/Arrow.astro";

---

<header
  class="w-screen flex justify-center py-8 bg-neutral-900 text-neutral-200"
>
  <div
    class="flex justify-between max-w-[80%] w-full"
  >
    <div class="flex items-center justify-start gap-10">
      <a href="/">
        <Image src={Logo} alt="Niuko Consultores" loading="lazy" width={50} />
      </a>
      <nav class="flex gap-4 text-2xl max-sm:hidden">
        <a href="#">Servicios</a>
        <a href="#">Acerca de nosotros</a>
        <a href="#">Carrera</a>
        <a href="#">Cursos</a>
        <a href="#">Blog</a>
      </nav>
    </div>
    <div class="flex gap-4 items-center justify-end">
      <button>
        <Glob />
      </button>
      <a href="/contact-us">
        <Phone />
      </a>
      <button class=" sm:hidden">
        <Menu />
      </button>
    </div>
  </div>
</header>
