---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Consultoría fiscal y legal" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-primary: #b7c428;
    --color-secondary: #8c8c8c;
    --color-tertiary: #232323;
    --color-text: #e6e5e5;
    --color-hover: #fff;
    --color-background: #e9e9e9;
    --color-background-secondary: #232323;
  }

  *,
  *:before,
  *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-background);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  a {
    color: var(--color-text);
    text-decoration: none;
  }
</style>
